{{- /* Markdown images: ![alt](../Attachments/x.png) or ![alt|300](x.png). Finds the file anywhere in the vault by name. */ -}}
{{- $dest := .Destination -}}
{{- $alt := .PlainText -}}
{{- $size := "" -}}
{{- with findRESubmatch `^(.*?)\|(\d+)(?:x(\d+))?$` $alt 1 -}}
  {{- $m := index . 0 -}}
  {{- $alt = index $m 1 -}}
  {{- $size = printf ` width="%s"` (index $m 2) -}}
  {{- with index $m 3 -}}{{- $size = printf `%s height="%s"` $size . -}}{{- end -}}
{{- end -}}
{{- $u := urls.Parse $dest -}}
{{- if not $u.IsAbs -}}
  {{- if not (hasPrefix $dest "/") -}}
    {{- with partial "resolve-media.html" $u.Path -}}{{- $dest = .RelPermalink -}}{{- end -}}
  {{- end -}}
{{- end -}}
<img src="{{ $dest | safeURL }}" alt="{{ $alt }}"{{ $size | safeHTMLAttr }}{{ with .Title }} title="{{ . }}"{{ end }} loading="lazy">
{{- /**/ -}}
